<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('user')}}">TaskManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% if app.user %}
            <li class="nav-item ">
                <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
            </li> 
        {% else %}
        <li class="nav-item ">
            <a class="nav-link" href="{{path('security_login')}}">Login</a>
        </li> 
        <li class="nav-item ">
            <a class="nav-link" href="{{path('security_registration')}}">Sign in</a>
        </li> 
        {% endif %}
         <li class="nav-item ">
            <a class="nav-link" href="{{path('user')}}">Users</a>
        </li>
        
         <li class="nav-item ">
            <a class="nav-link" href="{{path('task')}}">Tasks</a>
        </li>
         <li class="nav-item ">
           {% if app.user %}
            <a class="nav-link" href="{{path('task_new')}}">New Task</a>
            {% else %}

            {% endif %}
        </li>
    </ul>   
  </div>
</nav>